// Here you can add other styles
@import '~simple-line-icons/scss/simple-line-icons';

// Common css
.list-group.children{
    margin-left: 20px;
}

// Fix mobile footer
.app-footer {
    flex: 0 0;
    padding-top: map-get($spacers, 3);
    padding-bottom: map-get($spacers, 3);
}

// Product
#product_cat-all{
    min-height: 42px;
    max-height: 200px;
    overflow: auto;
    padding: 0 .9em;
    border: solid 1px #ddd;
    background-color: #fdfdfd;
}

#product_catchecklist{
    margin: 0.9em 0px;
}
